In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.model_selection import train_test_split

In [39]:
#https://scikit-learn.org/stable/modules/generated/sklearn.svm.SVC.html

In [40]:
rawdata = pd.read_csv("advertising (2) (1).csv")

In [41]:
rawdata

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Male,Clicked on Ad
0,77.88,37,55353.41,254.57,0,0
1,47.48,31,29359.20,141.34,0,1
2,39.19,54,52581.16,173.05,0,1
3,79.53,33,61467.33,236.72,0,0
4,89.00,37,52079.18,222.26,1,0
...,...,...,...,...,...,...
995,41.39,41,68962.32,167.22,0,1
996,66.83,46,77871.75,196.17,1,0
997,76.44,26,58820.16,224.20,1,0
998,88.89,35,50439.49,218.80,1,0
999,56.89,37,37334.78,109.29,1,1

In [42]:
x = rawdata.drop(columns = "Clicked on Ad").copy()
x.head()

   Daily Time Spent on Site  Age  Area Income  Daily Internet Usage  Male
0                     77.88   37     55353.41                254.57     0
1                     47.48   31     29359.20                141.34     0
2                     39.19   54     52581.16                173.05     0
3                     79.53   33     61467.33                236.72     0
4                     89.00   37     52079.18                222.26     1

In [46]:


from sklearn.neural_network import MLPClassifier
model = MLPClassifier(activation = 'logistic',hidden_layer_sizes=(10,5,10), max_iter=30000)

In [47]:
#?model

In [48]:
y = rawdata["Clicked on Ad"].copy()
y.head()

0    0
1    1
2    1
3    0
4    0
Name: Clicked on Ad, dtype: int64

In [49]:
from sklearn.model_selection import train_test_split
#X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, shuffle =False)
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state = 151122)
model.fit(X_train, y_train)

MLPClassifier(activation='logistic', hidden_layer_sizes=(10, 5, 10),
              max_iter=30000)

In [50]:
X_train

     Daily Time Spent on Site  Age  Area Income  Daily Internet Usage  Male
463                     83.97   28     56986.73                205.50     1
95                      83.47   39     64447.77                226.11     0
407                     74.88   27     67240.25                175.17     1
87                      61.88   45     38260.89                108.18     0
43                      65.80   25     60843.32                231.49     1
..                        ...  ...          ...                   ...   ...
466                     68.88   37     78119.50                179.58     0
163                     75.55   22     41851.38                169.40     0
225                     90.75   40     45945.88                216.50     0
664                     65.19   36     75254.88                150.61     0
315                     43.07   36     60583.02                137.63     1

[800 rows x 5 columns]

In [51]:
model.fit(X_train,y_train)

MLPClassifier(activation='logistic', hidden_layer_sizes=(10, 5, 10),
              max_iter=30000)

In [52]:
predictedclicked = model.predict(X_train)

In [53]:
accuracy_score(y_train,predictedclicked)

0.51

In [54]:
predictedtest = model.predict(X_test)

In [55]:
accuracy_score(y_test,predictedtest)

0.46

# After Scaling

In [56]:
 from sklearn.preprocessing import StandardScaler

In [57]:
scaler = StandardScaler()

In [58]:
scaler.fit(x)

StandardScaler()

In [59]:
xnew = scaler.transform(x)

In [60]:
xnew

array([[ 0.81282692,  0.11285514,  0.02635829,  1.69939038, -0.96269532],
       [-1.10567635, -0.57042523, -1.91236153, -0.88103379, -0.96269532],
       [-1.62884714,  2.04881618, -0.18040376, -0.15838741, -0.96269532],
       ...,
       [ 0.72195045, -1.13982553,  0.28491805,  1.00728155,  1.03875025],
       [ 1.50765327, -0.11490498, -0.34013541,  0.88421973,  1.03875025],
       [-0.51182386,  0.11285514, -1.3175208 , -1.61142852,  1.03875025]])

In [61]:
X_train, X_test, y_train, y_test = train_test_split(xnew, y, test_size=0.2, random_state = 151122)

In [62]:
model = MLPClassifier(activation = 'logistic',hidden_layer_sizes=(10,5), max_iter=30000)
model.fit(X_train,y_train)

MLPClassifier(activation='logistic', hidden_layer_sizes=(10, 5), max_iter=30000)

In [63]:
predictedclicked = model.predict(X_train)

In [64]:
accuracy_score(y_train,predictedclicked)

0.97125

In [65]:
predictedtest = model.predict(X_test)

In [66]:
accuracy_score(y_test,predictedtest)

0.965

In [28]:
from sklearn.svm import SVC

In [29]:
#modelSVM = SVC()
modelSVM = SVC(kernel = 'linear')
#modelSVM = SVC(kernel = 'sigmoid')

In [30]:
modelSVM.fit(X_train,y_train)

SVC(kernel='linear')

In [31]:
predicttrain = modelSVM.predict(X_train)

In [32]:
accuracy_score(y_train,predicttrain)

0.97375

In [33]:
predicttest = modelSVM.predict(X_test)

In [34]:
accuracy_score(y_test,predicttest)

0.965

In [35]:
from sklearn.svm import SVC # "Support vector classifier"
model = SVC(kernel='linear')
#model = SVC(kernel = 'rbf')
model.fit(x, y)

SVC(kernel='linear')

In [36]:
predictedclicked = model.predict(X_train)

In [37]:
accuracy_score(y_train,predictedclicked)

0.49