In [75]:
import numpy as np
import pandas as pd

In [76]:
pwd

'C:\\Users\\sumit'

In [77]:
data = pd.read_csv('Gym Example.csv')

In [78]:
data

    S.No  Weight Before  Weight After
0      1             96            94
1      2             83            82
2      3             99            92
3      4             94            91
4      5             99            96
5      6             88            84
6      7             90            83
7      8             81            72
8      9             86            81
9     10             80            78
10    11             84            78
11    12            101            93
12    13             81            74
13    14             91            84
14    15             78            73
15    16             92            89
16    17            102            97
17    18             73            70
18    19             77            70
19    20             93            84
20    21             95            94
21    22             96            95
22    23             89            82
23    24             86            77
24    25             93            89
25    26             88            84
26    27             94            89
27    28             82            74
28    29             86            85
29    30             92            88
30    31             96            88
31    32            100            90
32    33             94            84
33    34             89            86
34    35             88            80
35    36             89            81
36    37             76            69
37    38             72            69
38    39             85            84
39    40             93            90
40    41             75            70
41    42            101            95
42    43             95            86
43    44             79            71
44    45             75            74
45    46            101            91
46    47             81            77
47    48             85            79
48    49             91            82
49    50             79            76

In [79]:
diffweight = data['Weight Before']-data['Weight After']

In [80]:
diffweight = np.array(diffweight)

In [81]:
diffweight

array([ 2,  1,  7,  3,  3,  4,  7,  9,  5,  2,  6,  8,  7,  7,  5,  3,  5,
        3,  7,  9,  1,  1,  7,  9,  4,  4,  5,  8,  1,  4,  8, 10, 10,  3,
        8,  8,  7,  3,  1,  3,  5,  6,  9,  8,  1, 10,  4,  6,  9,  3],
      dtype=int64)

In [82]:
np.average(diffweight)

5.38

In [35]:
np.var(diffweight, ddof =1)**0.5

2.798614817719506

In [27]:
from scipy.stats import norm

In [83]:
(1-norm.cdf(5.38,5,(np.var(diffweight,ddof=1)**0.5)/(50**0.5)))

0.16849743798351002

In [21]:
from scipy import stats
from statsmodels.stats.weightstats import ztest

In [10]:
#?stats

In [86]:
ztest(diffweight,value = 5, alternative = 'larger')

(0.9601198962772689, 0.16849743798351008)

In [84]:
?ztest

In [87]:
shopdata = pd.read_csv('ShopSales.csv')

In [88]:
shopdata

    Shop-1  Shop-2
0   5961.0    5113
1   5073.0    5517
2   5350.0    5437
3   6042.0    3655
4   4698.0    5738
5   6516.0    6216
6   5318.0    6267
7   5307.0    5604
8   5715.0    6098
9   5597.0    6116
10  4962.0    4779
11  5667.0    6334
12  4652.0    6060
13  5658.0    5277
14  5755.0    5820
15  5363.0    5808
16  5380.0    5282
17  4815.0    4464
18  5569.0    5470
19  5499.0    5225
20  6240.0    5529
21  5614.0    5842
22  5755.0    5461
23  5819.0    5561
24  6236.0    6136
25  5943.0    5515
26  5918.0    5343
27  5782.0    5632
28  5055.0    5888
29  5014.0    6036
30  5115.0    5872
31  4832.0    5794
32  5436.0    6325
33  5622.0    6023
34     NaN    5164
35     NaN    3625
36     NaN    5337
37     NaN    5207
38     NaN    4157
39     NaN    5400
40     NaN    5623

In [61]:
Shop1 = shopdata['Shop-1']
Shop1 = Shop1.dropna()

In [66]:
Shop1 = np.array(Shop1)
Shop1

array([5961., 5073., 5350., 6042., 4698., 6516., 5318., 5307., 5715.,
       5597., 4962., 5667., 4652., 5658., 5755., 5363., 5380., 4815.,
       5569., 5499., 6240., 5614., 5755., 5819., 6236., 5943., 5918.,
       5782., 5055., 5014., 5115., 4832., 5436., 5622.])

In [74]:
Shop2 = shopdata['Shop-2']
Shop2 = np.array(Shop2)
Shop2

array([5113, 5517, 5437, 3655, 5738, 6216, 6267, 5604, 6098, 6116, 4779,
       6334, 6060, 5277, 5820, 5808, 5282, 4464, 5470, 5225, 5529, 5842,
       5461, 5561, 6136, 5515, 5343, 5632, 5888, 6036, 5872, 5794, 6325,
       6023, 5164, 3625, 5337, 5207, 4157, 5400, 5623], dtype=int64)

In [72]:
?stats.ttest_ind

In [73]:
stats.ttest_ind(Shop1,Shop2, equal_var = False)

Ttest_indResult(statistic=0.01641849212689798, pvalue=0.9869461494876708)

In [3]:
np.norm.cdf()

Object `norm` not found.